.button-container{
  background-color: white;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 40px;
  padding-right:40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: fixed;
  z-index: 10;
  bottom: 15vh;
  transform: translateX(0);
  transition: all 2s;
}

.button-container-pop-up{
  background-color: #A9B18F;
  padding-bottom: 24px;
  padding-top: 24px;
  padding-left: 40px;
  padding-right:40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: absolute;
  z-index: 20;
  bottom: 10% !important;
  transform: translateX(0);
  transition: all 2s;
}

.hidden-button{
  transform: translateX(100%);
  transition: all 2s;

}

.button-title{
  font-family: 'PlayfairDisplay-Medium';
  color: black;
  font-size: 40px;
  margin:0 !important;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.20px;
}

.button-icon{
font-size: 40px;
margin-left: 120px;
}

.button-title-pop-up{
  font-family: 'PlayfairDisplay-Medium';
  color: white;
  font-size: 40px;
  margin:0 !important;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1.20px;
}

.button-icon-pop-up{
font-size: 40px;
margin-left: 120px;
color: white;
}

