.app-join{
  width: 100vw;
max-height: 100vh;
  display: flex;
  align-items: flex-start;
  overflow-x: hidden !important;
  flex-direction: column;
  // margin-left: 10vw;
  padding: 50px;
  padding-left: 15vw!important;

}

.input-container{

  width:100%;
  max-width: 800px;
 max-height:300px;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: center;
 @media screen and (max-width: 800px) {
  max-height:100%;
  flex-direction: row;
  overflow: scroll;
 }
 @media screen and (max-width: 1024px) {
  max-height:70vh;
 }
 @media screen and (min-width: 3000px) {
  max-height:60vh;
 }
}

.input input:-webkit-autofill,
.input input:-webkit-autofill:hover, 
.input input:-webkit-autofill:focus,
.input input:-webkit-autofill,
.input input:-webkit-autofill:hover, 
.input input:-webkit-autofill:focus{
  -webkit-text-fill-color: #e5e5e5;
  -webkit-box-shadow: 0 0 0px 1000px #e5e5e5 inset !important;
  transition: background-color 5000s ease-in-out 0s;
  color:#A9B18F !important;
  font-size: 20px !important;
  font-family: 'PlayfairDisplay-SemiBold' !important;
}

.add-company-image{
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #A9B18F;
  z-index: 9000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: all 1s;
}

.add-company-image-container{

    background-color: white;
    display: flex;
 position: absolute;
    width: 65%;
    height: 60%;
    justify-content: center;
    align-items: center;
    
    h4{
      font-family: 'PlayfairDisplay-Medium';
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-size: 70px;
      font-weight: 400;
      position: absolute;
    font-style: none;
      top:-20px;
      color: black;
      left:-50px;
      margin: 0;
    }
}

.add-company-image-hidden{
  visibility: hidden;
  opacity: 0;
  transition: all 1s;

}