.app-video-detail-watch {
  width: 90vw;
  height: 100%;
  margin-left: 10vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  flex-direction: column;
}

.cam {
  z-index: 0;
  visibility: hidden;
}

<<<<<<< HEAD
=======
.cam-test {
  z-index: 0;
  visibility: visible;
}
.test-results-container-1-test{
  height: 100%;
  width: 40%;
  position: relative;



}
.test-results-container-1-test video{
  position: absolute; 
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: auto; 
  height: auto; 
  z-index: 10;
  background-size: cover;
  overflow: hidden;
}
#output-test{
  position: absolute !important; 
  z-index: -1000;
}
>>>>>>> e7378db40bd8bd8325ec48c0e53f0cc4922dadbf
.video-watch-title {
  font-family: "PlayfairDisplay-SemiBold";
  color: black;
  font-size: 80px;
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10 !important;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 20px;
  margin-bottom: 40px;
  width:100%;
}

.video-stat-title {
  font-family: "PlayfairDisplay-SemiBold";
  color: black;
  font-size: 80px;
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10 !important;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 20px;
  margin-bottom: 40px;
  width:80%;
}
.disable-video{
  margin-left: 20px;
  font-size: 60px;
  color:rgba(169, 177, 143,0.8);
transition: all 0.5s ease-in-out;
cursor: pointer;
  &:hover{
    color:rgba(169, 177, 143,1);
    font-size: 82px;
    transition: all 0.5s ease-in-out;
  }
}
.video-container {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
<<<<<<< HEAD
=======

.video-container-test {
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
>>>>>>> e7378db40bd8bd8325ec48c0e53f0cc4922dadbf
.video-container-statistics {

  width: 80vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
}
.big-video-container {
  width: 70vw;
  height: 70vh;
  transition: all 2s;
  display: flex;
  overflow: hidden;
  position: relative;
}

.video-container-statistics-small {
  width: 35vw !important;
  height: 40vh;
  display: flex;
  transition: all 2s;
  margin-left: 5vw;
}

.circle-statistics {
  position: absolute;
  // background-color: yellow;
  width: 40%;
  height: 90vh;
  right: 5vw;
  top: 15.9vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  transform: translateY(0%);
  transition: all 2s;
}

.app-video-statistics-watch {
  width: 90vw;
  height: 100% !important;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  margin-left: 10vw;
  align-items: center;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  flex-direction: column;
}
.section-statistics {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.large {
  min-height: auto;
  max-height: none;
  position: relative;
}

.graphs-left-container {
  position: absolute;
  // background-color:black;
<<<<<<< HEAD
  width: 35%;
  height: auto;
  left: 15vw;
=======
  width: 40%;
  height: auto;
  left: 5vw;
>>>>>>> e7378db40bd8bd8325ec48c0e53f0cc4922dadbf
  top: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(0%);
  transition: all 2s;
}
.graphs-right-container {
  position: absolute;
  // background-color:pink;
  width: 35%;
  height: auto;
  right: 5vw;
  top: 105vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(0%);
  transition: all 2s;
}
.graph-hidden {
  transform: translateY(100%);
  transition: all 2s;
  // display: none;
}

.display-none {
  display: none;
}
.stat-graph {

  width: 100%;
  height: 40vh;
  margin-bottom: 100px;
  
  
}
